<!--The content below is only a placeholder and can be replaced.-->

<ng-container *ngIf="activeMode === 0">
  <app-input (roomSelected)="switchToVR()"></app-input>
</ng-container>

<ng-container *ngIf="activeMode === 1">
  <a-scene>
    <a-gltf-model position="0 0 0" rotation="0 30 0" src="/assets/models/sofa-chair.glb"></a-gltf-model>
    <a-sky color="#ECECEC"></a-sky>
    <a-plane material="side: double" position="0 0 0" rotation="-90 0 0" width="10" height="10" color="#7BC8A4"></a-plane>
    <a-plane position="1 4 0" material="emissive:#FFAB91" rotation="90 0 90" width="10" height="10" color="#FFAB91" id="plane-roof"></a-plane>
    <a-plane position="0 0 -1" rotation="0 0 0" width="10" height="10" color="#880E4F" id="pink-wall"></a-plane>
    <a-plane color="#3F51B5" material="emissive:#f96042" height="10" geometry="" id="far-wall" position="5 0 0" rotation="0 -90 90" width="10"></a-plane>
    <!-- environment lighting -->
    <a-entity light="color: #FFF; intensity: 1.5" position="0 1 1"></a-entity>
    <a-gui-flex-container 
      flex-direction="column" justify-content="center" align-items="normal" component-padding="0.1" opacity="0.7" width="3.5" height="4.5"
      position="0 1.0 1.0" rotation="0 0 0"
    >
      <a-gui-button cursor-listener
      width="2.5" height="0.75"
      id="color-selector-button" key-code="32"
      value="Select Colors"
      font-family="Arial"
      margin="0 0 0.05 0"
    >
    </a-gui-button>
    </a-gui-flex-container>
    <!-- camera position -->
    <a-entity position="0 1.5 2.7" camera look-controls>
      <a-cursor></a-cursor>
      <a-camera></a-camera>
      
    </a-entity>
  </a-scene>
</ng-container>

<ng-container *ngIf="activeMode === 2">
    <app-input (roomSelected)="switchToVR()"></app-input>
  </ng-container>