.form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.button {
    width: calc(100%/3 - 10px); 
    height: 100px;
    background-color: #0091EA;
    color: #fff;
    display: inline-block;
    margin-right: 3px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 100px;
    cursor: pointer;
    margin-bottom: 3px;
}

.button:hover {
    background-color: #0167a7;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 2.4rem;
}