.left-column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding: 30px;
}

.right-column {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-image: url('../../assets/login-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form.center {
    text-align: center;
}

.form {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
}

.form h1 {
    font-size: 1.8rem;
    margin: 0;
    color: #3a3a3a;
}


.form p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 5px 0 20px 0;
    color: #5c5c5c;
}


.button.room-type {
    width: calc(100%/3 - 6px); 
    height: 100px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    color: #3a3a3a;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 100px;
    cursor: pointer;
}


.button.room-type:hover {
    border: 1px solid #000;
}

.button.room-type.selected {
    background-color: #278a91;
    color: #fff;
    border: 1px solid #fff;
}


.header {
    text-align: center;
    height: 40px;
    background: url('./../../assets/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    width: 80%;
    margin: 30px auto;
}

select {
    width: 80%;
    background: none;
    height: 50px;
    font-size: 1.3rem;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
}

.color-display {
    width: calc(20% - 5px);
    margin-right: 5px;
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.button.submit {
    width: 60%;
    background-color: #673AB7;
    color: #fff;
    font-size: 1.2rem;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.button.submit:hover {
    background-color: #512DA8;
    cursor: pointer;
}
